:root {
  --blue: #285ba7; /* Основной/Фирм синий */
  --orange: rgb(237, 108, 45); /* Основной/Акцент. оранж */
  --dark-orange: #e25917;
  --gray: #253745; /* Основной/Сизый */
  --white-dark: #e1e1e1;
  --grey: #d0d6df; /* доп/Серый */
  --bg: #f5f5f5;
  --gray-dark: #0a1a2a; /*Вспомогательный/Черно-сизый*/
}
